body {
  width: 100%;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

html, body, p, h1, h2, h3, h4, h5, h6, table, tr, td, th, ol, ul, li, dl, dd, dt, label, input, fieldset, hr, form {
  margin: 0;
  padding: 0;
}
#top{
	width: 100%;
	height: 32px;
	background: #f7f7f7;
	border-bottom: 1px solid #cccccc;
}
#top_a{
	width: 1200px;
	height: 32px;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
#top_a p{
	font-size: 12px;
	color:#808080;
	line-height:32px;
}
#top_a a{
	font-size: 12px;
	color:#808080;
	line-height:32px;
	margin-left: 12px;
}
#top a:nth-child(8){
	margin-right: 12px;
}
#top_a p{
	margin-left: 12px;
}
#top_a a:nth-child(6){
	width: 18px;
	height: 20px;
	margin-bottom: 2px;
	margin-right: -8px;
}
#top_a a:nth-child(8){
	
	margin-top: 7px;
}
#top_a a:nth-child(7):hover{
	color:red;
}
#top_a1{
	position: relative;
	/*display: none;*/
}
#top_a1 .top_ewm{
	width: 148px;
	height: 169px;
	position: absolute;
	top:28px;
	left:-112px;
	display: none;
	
}
.top_as{
	display: flex;
}
.top_ab{
	width: 18px;
	height: 18px;
    margin-top: 3px;
}
#top_a1:hover .top_ewm{
	display: block;
	z-index: 100;
}
	
.seek{
	width: 100%;
}
.seek_a{
	width: 1200px;
	height: 62px;
	margin: 20px auto 20px;

}
.seek_a1{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.seek_a1 input{
	width: 261px;
	height: 25px;
	font-size: 14px;
}
.seek_a1_img img{
	width: 49px;
	height: 29px;
	margin-top: 5px;
	margin-right: 23px;
}
.seek_a1_gb{
	position: relative;

}
.seek_a1_gb img{
	width: 107px;
	height: 29px;
}

.seek_a1_gb p{
	position: absolute;
	top:0px;
	left:34px;
	font-size: 14px;
	color: #ffffff;
	line-height: 29px;
}
.seek_a2{
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.seek_a2 p{
	font-size: 12px;
	color: #727171;
}
.seek_a2 a{
	font-size: 12px;
	color: #727171;
	margin-left: 12px;
}
.seek_a2 a:nth-child(8){
	margin-right: 26px;
}
.option{
	width: 1200px;
	height: 46px;
	margin:-20px auto 0;
}
.option img{
	width: 185px;
	height: 46px;
	float: left;
}
.option_a{
	margin-top: 23px;
}
.option_a a{
	color:#727171;
	font-size: 16px;
}
.option_a a:hover{
	color:red;
}
.option_a1 {
	color:#727171;
	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #727171;
	margin-top: 23px;
}
.option_a2 {
	line-height: 22px;
	color:#727171;
	width: 99px;
	float: left;
	text-align: center;
	border-right: 1px solid #727171;
	margin-top: 23px;
	position: relative;
}
.option_a2_a{
	position: absolute;
	width: 99px;
	background: #ffffff;
	display: none;
	z-index: 100;
}
.option_a2_a a{
	
	width: 99px;
	line-height: 35px;
	display: block;
}
.option_a2_a p{
	width: 99px;
	height: 5px;
	background: #b81c22;
	margin: 7px 0 17px;
}
.option_a2:nth-child(10){
	border-right: none;
}
.imgs{
	width: 1200px;
	height: 95px;
	margin: 25px auto 0;
	img{
		width: 1200px;
		height: 95px;
	}
}
.x{
	width: 1200px;
	height: 650px;
	margin: 0 auto;
}
.rush{
	width: 1200px;
	margin: 0 auto;
	position: relative;
	.rush-top{
		width: 1200px;
		height: 102px;
		
		.rush_a1{
			width: 240px;
			height: 102px;
			float: left;
			p:nth-child(1){
				margin-right: 5px;
				font-size: 35px;
				color: #444444;
				line-height: 102px;
				margin-left: 13px;
				font-weight: 700;
				float: left;
			}
			p:nth-child(2){
				padding-top: 20px;
				font-size: 14px;
				line-height: 30px;
				color: #444444;
			}
			p:nth-child(3){
				
				font-size: 14px;
				line-height: 30px;
				color: #444444;
			}
		}

	}
	.rush_b{
		width: 1200px;
		height: 535px;
		position: absolute;
		left: 0px;
		top:102px;
		// display: none;
		.rush_b1{
			width: 234px;
			height: 480px;
			float: left;
			margin: 0 3px;
			
			img{
				width: 234px;
				height: 360px;
			}
			.rush_b1_a{
				width: 234px;
				height: 38px;
				a{
					float: left;
					padding-top: 8px;
	    			line-height: 20px;
	    			color: #333333;
	    			font-size: 13px; 
				}
				a:hover{
					color: #b81c22;
				}
			}
			.rush_b1_b{
				width: 234px;
				height: 48px;
				p{
					font-size: 16px;
    				padding-top: 4px;
    				color: #b81c22;
    				float: left;
    				span{
    					font-size: 24px;
    				}

				}
				em{
					color: #b81c22;
					font-size: 12px;
					font-style: normal;
					float: left;
				}
				a{
					background: url(../img/subpage/mstbg.png) no-repeat -176px 0px;
					width: 89px;
					height: 32px;
					display: block;
					float: right;
				}
			}
			.rush_b1_c{
				width: 234px;
				height: 14px;
				p:nth-child(1){
					color: #c8c8c8;
					font-size: 12px;
					text-decoration: line-through;
					float: left;
					margin-right: 30px;
				}
				p:nth-child(2){
					color: #c8c8c8;
					font-size: 12px;
					float: left;
				}
				p:nth-child(3){
					width: 107px;
					height: 14px;
					border: 1px solid #feaead;
					float: left;
				}
			}
		}
	}
	.rush_c{
		width: 1200px;
		height: 535px;
		display: none;
		position: absolute;
		left: 0px;
		top:102px;
		.rush_c1{
			width: 234px;
			height: 480px;
			float: left;
			margin: 0 3px;
			
			img{
				width: 234px;
				height: 360px;
			}
			.rush_c1_a{
				width: 234px;
				height: 38px;
				a{
					float: left;
					padding-top: 8px;
	    			line-height: 20px;
	    			color: #333333;
	    			font-size: 13px; 
				}
				a:hover{
					color: #b81c22;
				}
			}
			.rush_c1_b{
				width: 234px;
				height: 48px;
				p{
					font-size: 16px;
    				padding-top: 4px;
    				color: #b81c22;
    				float: left;
    				span{
    					font-size: 24px;
    				}

				}
				em{
					color: #b81c22;
					font-size: 12px;
					font-style: normal;
					float: left;
				}
				a{
					background: url(../img/subpage/mstbg.png) no-repeat -176px 0px;
					width: 89px;
					height: 32px;
					display: block;
					float: right;
				}
			}
			.rush_c1_c{
				width: 234px;
				height: 14px;
				p:nth-child(1){
					color: #c8c8c8;
					font-size: 12px;
					text-decoration: line-through;
					float: left;
					margin-right: 30px;
				}
				p:nth-child(2){
					color: #c8c8c8;
					font-size: 12px;
					float: left;
				}
				p:nth-child(3){
					width: 107px;
					height: 14px;
					border: 1px solid #feaead;
					float: left;
				}
			}
		}
	}
	.rush_d{
		width: 1200px;
		height: 535px;
		display: none;
		position: absolute;
		left: 0px;
		top:102px;
		.rush_d1{
			width: 234px;
			height: 480px;
			float: left;
			margin: 0 3px;
			
			img{
				width: 234px;
				height: 360px;
			}
			.rush_d1_a{
				width: 234px;
				height: 38px;
				a{
					float: left;
					padding-top: 8px;
	    			line-height: 20px;
	    			color: #333333;
	    			font-size: 13px; 
				}
				a:hover{
					color: #b81c22;
				}
			}
			.rush_d1_b{
				width: 234px;
				height: 48px;
				p{
					font-size: 16px;
    				padding-top: 4px;
    				color: #b81c22;
    				float: left;
    				span{
    					font-size: 24px;
    				}

				}
				em{
					color: #b81c22;
					font-size: 12px;
					font-style: normal;
					float: left;
				}
				a{
					background: url(../img/subpage/mstbg.png) no-repeat -176px 0px;
					width: 89px;
					height: 32px;
					display: block;
					float: right;
				}
			}
			.rush_d1_c{
				width: 234px;
				height: 14px;
				p:nth-child(1){
					color: #c8c8c8;
					font-size: 12px;
					text-decoration: line-through;
					float: left;
					margin-right: 30px;
				}
				p:nth-child(2){
					color: #c8c8c8;
					font-size: 12px;
					float: left;
				}
				p:nth-child(3){
					width: 107px;
					height: 14px;
					border: 1px solid #feaead;
					float: left;
				}
			}
		}
	}
	.rush_e{
		width: 1200px;
		height: 535px;
		display: none;
		position: absolute;
		left: 0px;
		top:102px;
		.rush_e1{
			width: 234px;
			height: 480px;
			float: left;
			margin: 0 3px;
			
			img{
				width: 234px;
				height: 360px;
			}
			.rush_e1_a{
				width: 234px;
				height: 38px;
				a{
					float: left;
					padding-top: 8px;
	    			line-height: 20px;
	    			color: #333333;
	    			font-size: 13px; 
				}
				a:hover{
					color: #b81c22;
				}
			}
			.rush_e1_b{
				width: 234px;
				height: 48px;
				p{
					font-size: 16px;
    				padding-top: 4px;
    				color: #b81c22;
    				float: left;
    				span{
    					font-size: 24px;
    				}

				}
				em{
					color: #b81c22;
					font-size: 12px;
					font-style: normal;
					float: left;
				}
				a{
					background: url(../img/subpage/mstbg.png) no-repeat -176px 0px;
					width: 89px;
					height: 32px;
					display: block;
					float: right;
				}
			}
			.rush_e1_c{
				width: 234px;
				height: 14px;
				p:nth-child(1){
					color: #c8c8c8;
					font-size: 12px;
					text-decoration: line-through;
					float: left;
					margin-right: 30px;
				}
				p:nth-child(2){
					color: #c8c8c8;
					font-size: 12px;
					float: left;
				}
				p:nth-child(3){
					width: 107px;
					height: 14px;
					border: 1px solid #feaead;
					float: left;
				}
			}
		}
	}
	.rush_f{
		width: 1200px;
		height: 535px;
		display: none;
		position: absolute;
		left: 0px;
		top:102px;
		.rush_f1{
			width: 234px;
			height: 480px;
			float: left;
			margin: 0 3px;
			
			img{
				width: 234px;
				height: 360px;
			}
			.rush_f1_a{
				width: 234px;
				height: 38px;
				a{
					float: left;
					padding-top: 8px;
	    			line-height: 20px;
	    			color: #333333;
	    			font-size: 13px; 
				}
				a:hover{
					color: #b81c22;
				}
			}
			.rush_f1_b{
				width: 234px;
				height: 48px;
				p{
					font-size: 16px;
    				padding-top: 4px;
    				color: #b81c22;
    				float: left;
    				span{
    					font-size: 24px;
    				}

				}
				em{
					color: #b81c22;
					font-size: 12px;
					font-style: normal;
					float: left;
				}
				a{
					background: url(../img/subpage/mstbg.png) no-repeat -176px 0px;
					width: 89px;
					height: 32px;
					display: block;
					float: right;
				}
			}
			.rush_f1_c{
				width: 234px;
				height: 14px;
				p:nth-child(1){
					color: #c8c8c8;
					font-size: 12px;
					text-decoration: line-through;
					float: left;
					margin-right: 30px;
				}
				p:nth-child(2){
					color: #c8c8c8;
					font-size: 12px;
					float: left;
				}
				p:nth-child(3){
					width: 107px;
					height: 14px;
					border: 1px solid #feaead;
					float: left;
				}
			}
		}
	}
}
.bb{
	background:red;
	color: white;
    
}
.service{
	width: 1198px;
	height: 282px;
	margin: 0 auto 25px;
	border:1px solid #e0e0e1;
}
.service_a{
	width: 1112px;
	height: 138px;
	margin:34px auto 23px;
	 
}
.service_a1{
	width: 370px;
	height: 138px;
	border-right: 1px solid #e0e0e1; 
	float: left;
}
.service_a1 img{
	display: block;
	margin:16px auto 32px;
}
.service_a1 p{
	width: 156px;
	height: 32px;
	font-size:14px;
	color:#fff; 
	text-align: center;
	background: #b81c22;
	margin: 0 auto ;
	line-height: 32px;
}
.service_a .service_a1:nth-child(3){
	border-right:none;
}
.service_a1 h5{
	text-align: center;
    font-size: 14px;
    color: #727171;
    line-height: 26px;
    font-weight: 100;
}
.service_a .service_a1:nth-child(3) img{
	width: 100px;
	height: 100px;
	margin-bottom: 10px;
}
.service_a1 h5 span{
    color: red;
}
.service_b{
	width: 1116px;
	height: 57px;
	margin: 0 auto;
	border:1px solid #e0e0e1;
}
.service_b1{
	 float: left;
}
.service_b1 a{
	padding: 0 65px;
	font-size:12px;
	text-align: center;
	margin: 16px auto;
	display: block;
	color:#333;
	line-height: 26px;
	border-right: 1px solid #e0e0e1;
}
.service_b1:nth-child(6) a{
	border: none;
}
.bot{
	width: 100%;
	border-top: 1px solid #3e3a39;
}
.bot_a{
	width: 1200px;
	margin: 10px auto;
}
.bot_a p{
		text-align: center;
    line-height: 25px;
    color: #3e3a39;
    font-size: 12px;
}
.bot_b{
	width: 980px;
	height: 45px;
  margin: 30px auto 25px;
   display: flex;
   justify-content: center;
}
.bot_b img{
	display: block;
	margin: 0 10px;
	float: left;
}
.bot_b a:nth-child(6) img{
	width: 120px;
	height: 39px;
}

